<nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li {% if active_page == 'home' %} class="active" {% endif %}>
          <a href="/">Home</a>
        </li>
        <li class="{% if active_page == 'about' %} active {% endif %}">
          <a href="/about">About</a>
          <!--
               <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
          -->
       
        </li>
        <li class="has-children {% if active_page == 'shop' %} active {% endif %}">
          <a href="/shop">Shop</a>
          <ul class="dropdown">
              <li><a href="/shop/men">Men</a></li>
              <li><a href="/shop/women">Women</a></li>
              <li><a href="/shop/kids">Children</a></li>
              <!--
                   <li class="has-children">
                    <a href="#">Sub Menu</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
              -->
             
            </ul>
        </li>
        <!-- <li><a href="#">Catalogue</a></li>
        <li><a href="#">New Arrivals</a></li> -->
        <li {% if active_page == 'contact' %} class="active" {% endif %}><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>