{% extends 'layout.html' %}
{% set total_amount = 0 %}
{% block body %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-price">Disc. Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                    {% if product.article_no in session.cart %}
                        <tr>
                          <td class="product-thumbnail">
                            <img src="{{product.image_path}}" alt="Image" class="img-fluid">
                          </td>
                          <td class="product-name">
                            <h2 class="h5 text-black">{{ product.prd_name }}</h2>
                          </td>
                          <td>{{ product.prd_price }}</td>
                          <td>
                            <!-- discounted price -->
                              {{ session.cart[product.article_no][2] }}
                          </td>
                          <!-- QUANTITY -->
                          <td>{{ session.cart[product.article_no][0] }}</td>
                          <!-- QUANTITY * PRICE -->
                          {% if session.cart[product.article_no][2]|int != 0 %}
                            <td>{{ session.cart[product.article_no][0]|int * session.cart[product.article_no][2]|int }}</td>
                          {% else %}
                            <td>{{ session.cart[product.article_no][0]|int * product.prd_price|int }}</td>
                          {% endif %}
                          <td>
                            <form id="remove_item" action="{{url_for('remove_cart_item', article_no=product.article_no)}}" method="POST">
                              <input type="hidden" name="_method" value="DELETE">
                              <input type="submit" class="btn btn-danger btn-sm" value="X" >
                            </form>
                          </td>
                        </tr>
                      {% endif%}
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6">
                <a href="/shop" class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
              </div>
              <div class="col-md-4">
                <button class="btn btn-primary btn-sm">Apply Coupon</button>
              </div>
            </div> -->
          </div>
          {% if session.cart|length > 0 %}
            <div class="col-md-6 pl-5">
              <div class="row justify-content-end">
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-md-12 text-right border-bottom mb-5">
                      <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <span class="text-black">Subtotal</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black">Rs. {{ session.total_amount }}</strong>
                    </div>
                  </div>
                  <div class="row mb-5">
                    <div class="col-md-6">
                      <span class="text-black">Total</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-black">Rs. {{ session.total_amount }}</strong>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/checkout'">Proceed To Checkout</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

{% endblock %}