{% extends 'admin/signing_layout.html' %}

{% block body %}
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
                {% from "shared/_formhelpers.html" import render_field %}
                <form class="user" method="POST" action="">
                  <div class="form-group">
                      {{ render_field(form.name, class_="form-control form-control-user") }}
                  </div>
                  <div class="form-group">
                      {{ render_field(form.email, class_="form-control form-control-user") }}
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      {{ render_field(form.password, class_="form-control form-control-user") }}
                    </div>
                    <div class="col-sm-6">
                      {{ render_field(form.confirm_password, class_="form-control form-control-user") }}
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Register Account
                  </button>
                </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="admin/login">Already have an account? Login!</a>
              </div>
{% endblock %}