  .messages {
    background-color: #dedede;
    color:black;
    padding: 10px;
    margin: 10px 0;
    font-family: monospace;
    font-size: 15px;
    box-shadow: 2px 3px gray;
  }
  
  .darker {
    border-color: #7971ea;
    background-color: #7971ea;
    box-shadow: 2px 3px gray;
    color:#fff
  }
  
  .messages::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .messages img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  
  
  .messages img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  #chatbox p {
    word-wrap: break-word;
  }

  #userInput {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 10px;
  }
  
  #textInput {
      width: 80%;
      border: none;
      border-bottom: 3px solid #7971ea;
      border-radius: 5px; 
      font-family: monospace;
      font-size: 15px;
      height: 1.4cm;
  }
  
  #buttonInput {
      padding: 10px;
      font-family: monospace;
      font-size: 15px;
      width: 17%;
      background-color: #7971ea;
      border: 1px solid #EF5350;
      border-radius: 5px;
      color:white;
      float: right;
  }

  .time-right {
    float: right;
    color: gray;
  }
  
  .time-left {
    float: left;
    color: #fff;
  }

    /* Important part */
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

/* CUSTOM SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff; 
}

