    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-ship"></i>
          </div>
          <div class="sidebar-brand-text mx-3">INDUS Admin</div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>

        
        <!-- Nav Item - Users Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-user"></i>
              <span>Users</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Options:</h6>
                <a class="collapse-item" href="/admin/users/admin">Admins</a>
                <a class="collapse-item" href="/admin/users/customer">Customers</a>
                <a class="collapse-item" href="/admin/create">Create an Admin</a>
              </div>
            </div>
        </li>
  
        <!-- Nav Item - Product Collapse Menu -->
  
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>Products Inventory</span>
          </a>
          <div id="collapseProducts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Options:</h6>
              <a class="collapse-item" href="/admin/products/display">Available Products</a>
              <a class="collapse-item" href="/admin/addproduct">Add a Product</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Orders Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/admin/orders" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Orders</span>
          </a>
        </li>  
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->